.wrapper {
    margin: 10px 0 0 10px;
}


.name {
    display: inline-block;
    min-width: 90px;
}

.priority {
    display: inline-block;
    min-width: 70px;
}

.item {
    margin-top: 10px;
}

.button {
    margin-right: 5px;
    margin-top: 10px;
    background: #282c34;
    border-color: #282c34;
    color: white;
    cursor: pointer;
}

.deleteButton {
    background: #282c34;
    border-color: #282c34;
    color: white;
    cursor: pointer;
}
