.item {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}


.error {
    border: 1px solid red;
}

.error_message {
    color: red;
}

.input {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}


